:root {
  --body-font-family: "Google Sans", sans-serif;
  --heading-font-family: "Inter", sans-serif;

  --sidebar-width: 260px;
  --content-max-width: 1080px;

  --light: hsl(0deg 0% 100%);
  --dark: hsl(0deg 0% 0%);
  --bg-color: color-mix(in srgb, var(--light) 95%, var(--dark));
  --heading-1-font-color: hsl(0deg 0% 15%);
  --heading-2-font-color: hsl(0deg 0% 18%);
  --heading-3-font-color: hsl(0deg 0% 22%);
  --body-font-color: hsl(0deg 0% 15%);
  --border-color: color-mix(in srgb, var(--light) 85%, var(--dark));
  --primary-color: hsl(22.76deg 36.71% 15.49%);
  --accent-color: hsl(35.95deg 96.03% 50.59%);
  --link-color: hsl(202.67deg 67.58% 51.87%);
  --primary-text-color: hsl(0 0% 100%);
  --card-shadow: 0 2px 5px 0 color-mix(in srgb, var(--light) 80%, var(--dark));
  --sidebar-shadow: 2px 0 5px 0 color-mix(in srgb, var(--light) 90%, var(--dark));
  --footer-shadow: 0 -2px 5px 0 color-mix(in srgb, var(--light) 90%, var(--dark));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: var(--body-font-family);
  color: var(--body-font-color);
  line-height: 150%;
  font-size: 16px;
}

body.dark-theme {
  --primary-color: hsl(35.95deg 100% 49.41%);
  --light: hsl(24.92deg 7.91% 4.52%);
  --dark: hsl(0deg 0% 100%);
  --bg-color: color-mix(in srgb, var(--light) 95%, var(--dark));
  --border-color: color-mix(in srgb, var(--light) 85%, var(--dark));
  --heading-1-font-color: hsl(0deg 0% 85%);
  --heading-2-font-color: hsl(0deg 0% 82%);
  --heading-3-font-color: hsl(0deg 0% 78%);
  --body-font-color: hsl(0deg 0% 85%);
  --card-shadow: 0 2px 5px 0 color-mix(in srgb, var(--light) 80%, var(--dark));
  --sidebar-shadow: 2px 0 5px 0 color-mix(in srgb, var(--light) 90%, var(--dark));
  --footer-shadow: 0 -2px 5px 0 color-mix(in srgb, var(--light) 90%, var(--dark));
  background-color: var(--bg-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
}

h1 {
  color: var(--heading-1-font-color);
}

h2 {
  color: var(--heading-2-font-color);
  margin: 2rem 0 1rem 0;
}

h3 {
  color: var(--heading-3-font-color);
  margin: 1.5rem 0 1rem 0;
}

p {
  margin-bottom: 1.3rem;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

p code {
  font-family: "Source Code Pro", monospace;
  background-color: color-mix(in srgb, var(--light) 90%, var(--dark));
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
}

main {
  background-color: var(--bg-color);
}