<app-content-width-container>
  <div class="content-container">
    <div class="split">
      <div>
        <img alt="AnglesUI Logo" src="/images/anglesui-logo-sm.webp">
      </div>
      <div>
        <a target="_blank" href="https://github.com/nox7/openmw-angles-ui">
          <i class="bi bi-github"></i>
          <span>GitHub</span>
        </a>
      </div>
    </div>
    <div>
      <p>
        Made by <a target="_blank" href="https://github.com/nox7">nox7</a>.
      </p>
    </div>
  </div>
</app-content-width-container>