<div class="title">
  <a [routerLink]="'/'"><img alt="AnglesUI Framework logo" src="images/anglesui-logo-sm.png"></a>
</div>
<section class="links">
  <div class="links">
    <app-sidebar-button Href="">Home</app-sidebar-button>
    <app-sidebar-button Href="">Installing</app-sidebar-button>
    <app-sidebar-button Href="">Making a UI</app-sidebar-button>
  </div>

  <div class="label">
    <span>Documentation</span>
  </div>

  <div class="links">
    <app-sidebar-button Href="">HTML Syntax</app-sidebar-button>
    <app-sidebar-button Href="">Valid CSS Rules</app-sidebar-button>
    <app-sidebar-button Href="">If Directives</app-sidebar-button>
    <app-sidebar-button Href="">For Loop Directives</app-sidebar-button>
    <app-sidebar-button Href="">Resizing</app-sidebar-button>
    <app-sidebar-button Href="">Movable UIs</app-sidebar-button>
    <app-sidebar-button Href="">Scrollable Canvas</app-sidebar-button>
  </div>

  <div class="label">
    <span>Examples</span>
  </div>

  <div class="links">
    <app-sidebar-button Href="">Custom Components</app-sidebar-button>
    <app-sidebar-button Href="">Making a Button</app-sidebar-button>
    <app-sidebar-button Href="">Using Signals</app-sidebar-button>
  </div>
</section>
