<div class="title">
  <a [routerLink]="'/'"><img alt="AnglesUI Framework logo" src="images/anglesui-logo-sm.png"></a>
</div>
<section class="links">
  <div class="links">
    <app-sidebar-button Href="">Home</app-sidebar-button>
    <app-sidebar-button Href="installation">Installing</app-sidebar-button>
    <app-sidebar-button Href="making-a-ui">Making a UI</app-sidebar-button>
    <app-sidebar-button Href="bugs-and-support">Bugs & Support</app-sidebar-button>
  </div>

  <div class="label">
    <span>Documentation</span>
  </div>

  <div class="links">
    <app-sidebar-button Href="html-syntax">HTML Syntax</app-sidebar-button>
    <app-sidebar-button Href="data-binding">Data Binding</app-sidebar-button>
    <app-sidebar-button Href="css">CSS</app-sidebar-button>
    <app-sidebar-button-group Label="Engine Elements">
      <app-sidebar-button Href="elements/root">mw-root</app-sidebar-button>
      <app-sidebar-button Href="elements/window">mw-window</app-sidebar-button>
      <app-sidebar-button Href="elements/widget">mw-widget</app-sidebar-button>
      <app-sidebar-button Href="elements/flex">mw-flex</app-sidebar-button>
      <app-sidebar-button Href="elements/grid">mw-grid</app-sidebar-button>
      <app-sidebar-button Href="elements/image">mw-image</app-sidebar-button>
      <app-sidebar-button Href="elements/text-edit">mw-text-edit</app-sidebar-button>
      <app-sidebar-button Href="elements/hr">mw-hr</app-sidebar-button>
      <app-sidebar-button Href="elements/scroll-canvas">mw-scroll-canvas</app-sidebar-button>
    </app-sidebar-button-group>
    <app-sidebar-button Href="">If Directives</app-sidebar-button>
    <app-sidebar-button Href="">For Loop Directives</app-sidebar-button>
    <app-sidebar-button Href="">Event Binding</app-sidebar-button>
    <app-sidebar-button Href="">Resizing</app-sidebar-button>
    <app-sidebar-button Href="">Movable UIs</app-sidebar-button>
    <app-sidebar-button Href="">Scrollable Canvas</app-sidebar-button>
  </div>

  <div class="label">
    <span>Examples</span>
  </div>

  <div class="links">
    <app-sidebar-button Href="">Custom Components</app-sidebar-button>
    <app-sidebar-button Href="">Making a Button</app-sidebar-button>
    <app-sidebar-button Href="">Responsive UI Design</app-sidebar-button>
  </div>
</section>
