a {
  text-decoration: none;
}

.button-container {
  & > a {
    color: var(--body-font-color);
    display: flex;
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    font-size: 0.9rem;

    &:hover {
      background-color: color-mix(in srgb, var(--light) 95%, var(--dark));
    }

    &:active {
      color: color-mix(in srgb, var(--light) 30%, var(--dark));
    }
  }
}