.button-container {
  & > a, & > button {
    display: inline-flex;
    padding: 8px 22px;
    border-radius: 4px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    border: 4px solid transparent;
    border-image: url("/images/button-border-1.jpg") 30 repeat;

    &:hover {
      cursor: pointer;
      background-color: color-mix(in srgb, var(--primary-color) 93%, var(--light));
    }
  }
}