.morrowind-window {
    border-top-left-corner: 2px "textures/menu_thin_border_top_left_corner.dds" false false;
    border-top: 2px "textures/menu_thin_border_top.dds" true false;
    border-top-right-corner: 2px "textures/menu_thin_border_top_right_corner.dds" false false;
    border-right: 2px "textures/menu_thin_border_right.dds" false true;
    border-bottom-right-corner: 2px "textures/menu_thin_border_bottom_right_corner.dds" false false;
    border-bottom: 2px "textures/menu_thin_border_bottom.dds" true false;
    border-bottom-left-corner: 2px "textures/menu_thin_border_bottom_left_corner.dds" false false;
    border-left: 2px "textures/menu_thin_border_left.dds" false true;
    background-image: "black";
    background-image-opacity: 0.5;
}
